body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gil;
}

header {
  top: 0;
  display: flex;
  text-align: center;
  background-color: rgb(42, 42, 46);
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-grow: 1;
  padding: 0px 250px;
  flex-wrap: wrap;
  color: white;
}

.menuContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: [first]40% [end]60%;
}

.menu {
  /* flex-direction: column; */
}

.drinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 80px);
  grid-gap: 3px;
  /* grid-template-areas: 
    "nav nav"
    "selection selection"
    "selection selection"
    "selection selection"
    "selection selection";  */
}

.nav {
  grid-column: 1/ -1;
}
.selection {
  /* grid-template-columns: repeat(2, 1fr) */
}
