@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;

}

header {
  display: flex;
  text-align: center;
  background-color: rgb(42, 42, 46);
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 200px;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
  height: 80px;
}

.container_1 {
  height: 100vh;
  width: 100%;
  background-image: url(./Images/StubucksHero.jpg);
  background-size: cover;
}
.container_2 {
  height: 100vh;
  width: 100%;
  background-image: url(./Images/somethingNew.png);
  background-size: cover;
}
