@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;

}

header {
  display: flex;
  text-align: center;
  background-color: rgb(42, 42, 46);
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 200px;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
}

.offerBar {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}

.shipping {
  width: 80%;
  text-align: center;
}

.nearestStore {
  right: 0;
  background: #067655;
  color: white;
  width: 20%;
  text-align: center;
}

.offer {
  margin: 2px;
}

a {
  color: white;
  text-decoration: none;
}

.section_1 {
  height: 100vh;
  width: 100%;
  background-image: url(./Images/StubucksHero.jpg);
  background-size: cover;
}
.section_2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(18, 18, 31);
  margin: 0;
  padding: 0;
}

.section_two_heading {
  /* height: 60px; */
  font-weight: 700;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 36px;
  margin: 0;
}

.new-tag {
  color: #067655;
}

.section_2_info {
  position: absolute;
  top: 1100px;
  color: white;
  margin-left: 50%;
  margin-right: 10%;
  font-size: 36px;
  text-align: right;
}

.section_2_heading {
  font-size: 72px;
  font-weight: 500;
}

.stuBrew-tag,
.nitroBrew-tag {
  color: #067655;
}

.iceCoffee {
  position: absolute;
  left: 120px;
  top: 1000px;
  height: 630px;
  width: 480px;
}

/* START OF SHOP COFFEE, TEA & EQUIPMENT SECTION */

.arrowDown img {
  position: absolute;
  left: 690px;
  height: 60px;
  width: 60px; 
  margin-top: 20px;
}

.stuShopBanner {
  height: 100px;
  background-color:#2B706F;
  font-size: 36px;
}

.stuShopBannerTextA {
  position: relative;
  top: 25%;
  margin: 0px;
  text-align: center;
  color: white; 
}

.stuShopBannerTextB {
  color: black; 
}

.colStuShop h4 {
  font-size: 36px;
  margin: 25px;
}

.colStuShop p {
  font-size: 18px;
  margin: 25px;
  font-family: 'Roboto Slab: 300', serif;

}

.shopContainer {
  width: 100%;
  padding: 200px, 0px, 200px, 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.buyCoffee,
.buyTea,
.buyEquipment {
  width: 320px;
  height: 320px;
  border-radius: 200px;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 100px 0px 100px 0px;
}

hr {
  border-top: 1px solid black;
  margin: 0px 150px 0px 150px;
}

/* END OF SHOP COFFEE, TEA & EQUIPMENT SECTION */

.section_4 {
  display: flex;
  flex: 1;
  height: 400px;
  width: 100%;
  background-color: gray;
}

.logo {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 20px;
  left: 48px;
  padding-left: 20px;
  overflow: auto;
}

.text_box_1 {
  display: absolute;
  padding: 0;
  margin: 0;
  color: white;
}

.logo {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 20px;
  left: 48px;
  padding-left: 20px;
  overflow: auto;
}

.text_box_1 {
  display: absolute;
  padding: 0;
  margin: 0;
  color: white;
}

.landing_page {
  position: absolute;
  height: 89px;
  left: 120px;
  top: 320px;
  font-size: 92px;
}
.landing_info {
  position: absolute;
  width: 612px;
  height: 40px;
  font-size: 25px;
  left: 120px;
  top: 490px;
}
.love {
  color: rgb(73, 145, 73);
}

.choose_coffee {
  position: absolute;
  width: 225px;
  height: 50px;
  left: 120px;
  top: 580px;
  border-radius: 20px 0;
  background-color: rgb(18, 18, 31);
  color: white;
  font-size: 20px;
}

#help,
#about_us,
#company_info,
#share {
  font-size: 35px;
  font-weight: 700;
}

li {
  list-style-type: none;
  font-size: 25px;
}

ol {
  /* display: flex; */
  justify-content: space-evenly;
  flex: 1;
  flex-direction: row;
}

.share_icons {
  display: flex;
  flex: 1;
}

.fb {
  background-image: url(./Icons/icon-facebook.png);
  background-size: 100%;
  height: 50px;
  width: 50px;
}

.insta {
  background-image: url(./Icons/icon-instagram.png);
  background-size: 100%;
  height: 50px;
  width: 50px;
}

.linked {
  background-image: url(./Icons/icon-linkedin.png);
  background-size: 100%;
  height: 50px;
  width: 50px;
}

.twitter {
  background-image: url(./Icons/icon-twitter.png);
  background-size: 100%;
  height: 50px;
  width: 50px;
}

.pin {
  background-image: url(./Icons/icon-pinterest.png);
  background-size: 100%;
  height: 50px;
  width: 50px;
}
