body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gil;
}

header {
  top: 0;
  display: flex;
  text-align: center;
  background-color: rgb(42, 42, 46);
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-grow: 1;
  padding: 0px 250px;
  flex-wrap: wrap;
  color: white;
}

.container_1 {
  height: 100vh;
  width: 100%;
  background-image: url(./Images/StubucksHero.jpg);
  background-size: cover;
}
.container_2 {
  height: 100vh;
  width: 100%;
  background-image: url(./Images/somethingNew.png);
  background-size: cover;
}
